.top{
  position:sticky;top:0;
  background:white;padding:10px;
}

.modal{
  position:fixed;
  top:0;left:0;right:0;bottom:0;
  background:rgba(0,0,0,0.5);
  display:none;
}

.modalInner{
  background:white;
  margin:10%;
  padding:10px;
  border-radius:10px;
}
